.Anchored-nav {
  z-index: 50;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  background-color: #222;
  transition: height 0.3s, background-color 0.2s;
  display: flex;
  justify-content: center;
}

.expanded {
  height: 75px;
}

.Anchored-nav-inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.Anchored-nav-signature {
  opacity: 0.2;
  height: 300%;
}
.Anchored-nav-signature path{
  color: #888;
}

.Anchored-nav-links a:first-child {
  padding-right: 10px;
}

.Anchored-nav-link {
  background: none;
  border: none;
  padding-left: 10px;
  text-decoration: none;
  color: #F57F17;
  font-size: 30px;
  transition: color 0.2s;
}

.Anchored-nav-link:hover{
  padding-left: 10px;
  text-decoration: none;
  color: #EEE;
  font-size: 30px;
  cursor: pointer;
}

.drawer-open-link {
  background-color: #F57F17;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  margin-left: -30px;
}
